/DigitalOcean/MYMETA.*
/DigitalOcean/MANIFEST.bak
/DigitalOcean/pm_to_blib
/DigitalOcean/blib/
/DigitalOcean/Makefile
/DigitalOcean/DigitalOcean-*

DigitalOcean/test.pl

DigitalOcean/test.pl

DigitalOcean/test3.pl

DigitalOcean/test2.pl
